__history/
__astcache/82e0414110434619ed027602eb63aa7c.astcache
__astcache/82e0414110434619ed027602eb63aa7c.astinfo
Win32/Debug/Auto_API.#00
Win32/Debug/Auto_API.ilc
Win32/Debug/Auto_API.ild
Win32/Debug/Auto_API.ilf
Win32/Debug/Auto_API.ils
Win32/Debug/Auto_API.map
Win32/Debug/Auto_API.obj
Win32/Debug/Auto_API.pch
Win32/Debug/Auto_API.pdi
Win32/Debug/Auto_API.tds
Win32/Debug/un_Principal.obj
Win32/Debug/un_Data1.obj
Win32/Debug/un_Data2.obj
Win32/Debug/un_Data3.obj
Win32/Debug/un_Data_Processamento.obj
Win32/Debug/un_Data_Resumo.obj
Win32/Debug/un_Data_Verificacao2.obj
